@use "variables.scss";

body {
    margin: 0;
    padding: 0;
    color: variables.$niceWhite;
    background-color: variables.$niceWhite;
}
.navBar {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: variables.$primaryColor;
    position:fixed;
    width:100%;
    z-index: 2;
}
.logo {
    h1 {
        padding-left: 2rem;
    }
}
.profile {
    display:flex;
    flex-direction: row;
    .proIcon {
        svg {
            transform: scale(2);
            margin-right: 1rem;
            color: white;
        }   
        svg:hover {
            color: variables.$secondaryColor;
            cursor: pointer;
        }
    }
    .settings {
        svg {
            transform: scale(2);
            margin-left: 2rem;
            margin-right: 3rem;
        }  
        svg:hover {
            color: variables.$secondaryColor;
            cursor:pointer;
        } 
    }
}
.sideBar {
    display:flex;;
    flex-direction: column;
    position:absolute;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: variables.$primaryHighlight;
    .search {
        padding: 20px 0px 15px 0px;
        display:flex;
        align-items: baseline;
        svg {
            margin: 0px 10px 0px 10px;
            transform:scale(1.3)
        }
        input {
            width: 200px;
            height: 35px;
            font-size: 17px;
        }
    }    
    .createList {
        padding: 15px;
        button {
            cursor:pointer;
            border-radius: 10px;
            box-shadow: none;
            border:none;
        }
        button:hover {
            background-color: variables.$secondaryHighlight;
            
        }
    }
    .createList:hover {
        background-color: rgb(126, 142, 159);
    }
    .completed {
        padding: 0px 0px 0px 15px;
        position: relative;
        top: 473px;
        color: rgb(223, 223, 223);
    }
    .completed:hover {
        background-color: rgb(126, 142, 159);
        cursor: pointer;
    }
}
.listRepository {
    position: absolute;
    top: 100px;
    left: 250px;
    color: black;
    height:89%;
    width:60%;
    .listHeader {
        position:relative;
        left: 40px;
    }
    .createdTasks {
        ul {
            display:flex;
            flex-direction: column;
            list-style: none;
            position:absolute;
            #completed {
                transform: scale(1.5);
                margin-right: 10px;
                accent-color: variables.$secondaryColor;
                cursor:pointer;
            }
            li {
                display:flex;
                align-items: baseline;
                font-size: 25px;
                padding: 25px 10px 10px 10px;
                border: 2px solid lightgray;
                height: auto;
                max-width: 205%;
                h6 {
                    width: 70%;
                    padding-left: 10px;
                }
            }
            li:hover {
                background-color: lightgray;
                cursor:pointer
            }
            #delete {
                position: relative;
                left: 9rem;
                cursor: pointer;
            }
            #delete:hover {
                color: variables.$secondaryHighlight;
                background-color: variables.$primaryColor;
            }
        }
    }

}