@use "variables.scss";

body {
    margin: 0;
    padding: 0;
    color: variables.$niceWhite;
    background-color: variables.$niceWhite;
}
.navBar {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: variables.$primaryColor;
    position:fixed;
    width:100%;
    z-index: 2;
}
.logo {
    h1 {
        padding-left: 2rem;
    }
}
.profile {
    display:flex;
    flex-direction: row;
    .proIcon {
        svg {
            transform: scale(2);
            margin-right: 1rem;
            color: white;
        }   
        svg:hover {
            color: variables.$secondaryColor;
            cursor: pointer;
        }
    }
    .settings {
        svg {
            transform: scale(2);
            margin-left: 2rem;
            margin-right: 3rem;
        }  
        svg:hover {
            color: variables.$secondaryColor;
            cursor:pointer;
        } 
    }
}
.sideBar {
    display:flex;
    flex-direction: column;
    position:absolute;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    left: 0;
    overflow:scroll;
    background-color: variables.$primaryHighlight; 
    .createList {
        list-style: none;   
        ul {
            display:flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style: none;
            max-width: 100%;
            #dynamicList {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                margin: 20px 0px 0px -10px;
                padding: 20px 0px 20px 26px;
                max-width: 110%;
                button {
                    margin-right: 18px;
                    background: none;
                    color: variables.$secondaryColor;
                    cursor: pointer;
                }
                button:hover {
                    color: crimson;
                }
            }
        }
        #createListName {
            height: 50px;
            width: 92%;
            font-size: 20px;
            padding-left: 14px;
            outline:none;
            border-top:none;
            border-bottom:none;
        }
        button {
            cursor:pointer;
            border-radius: 10px;
            box-shadow: none;
            border:none;
        }
        button:hover {
            background-color: variables.$secondaryHighlight;
            
        }
    }
    .completed {
        padding: 0px 0px 0px 15px;
        position: relative;
        top: 0;
        color: rgb(174, 174, 174);
    }
    .completed:hover, #dynamicList:hover {
        background-color: rgb(126, 142, 159);
        cursor: pointer;
    }
}
.listRepository {
    position: absolute;
    top: 100px;
    left: 250px;
    color: black;
    height:89%;
    width:60%;
    #closeSideBar {
        position:relative;
        color:black;
    }
    .listHeader {
        display:flex;
        justify-content: space-between;
    }
    #listName {
        position:relative;
        left: 40px;
    }
    #addNewTask {
        position: fixed;
        top: 100px;
        left: 1175px;
        width: 75px;
        height: 75px;
        border: none;
        border-radius: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: variables.$secondaryColor;
        font-size: 40px;
    }
    #addNewTask:hover {
        cursor:pointer;
        background-color: variables.$secondaryHighlight;
    }
    .createdTasks {
        ul {
            display:flex;
            flex-direction: column;
            list-style: none;
            position:absolute;
            width: 100%;
            #completed {
                transform: scale(1.5);
                margin-right: 10px;
                accent-color: variables.$secondaryColor;
                cursor:pointer;
            }
            li {
                display:flex;
                align-items: baseline;
                font-size: 25px;
                padding: 20px 10px 20px 10px;
                border: 2px solid lightgray;
                height: auto;
                max-width: 100%;
                #newTaskInput {
                    width: 70%;
                    max-width: 70%;
                    padding-left: 10px;
                    outline:none;
                    border:none;
                    background:none;
                }
                #goal {
                    width: 70%;
                    max-width: 70%;
                    padding-left: 10px;
                    display:none;
                }
            }
            li:hover {
                background-color: lightgray;
                cursor:pointer
            }
            #edit {
                position: relative;
                left: 7.9rem;
                cursor:pointer;
            }
            #edit:hover {
                color: variables.$secondaryHighlight;
                background-color: variables.$primaryColor;
            }
            #delete {
                position: relative;
                left: 9rem;
                cursor: pointer;
            }
            #delete:hover {
                background-color: crimson;
            }
        }
    }

}